GROQ_API_KEY=example_key
google_api_key_ml=example_key
SECRET_KEY=example_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_SECONDS=7200
API_KEY=xxx
API_KEY_CATALOGUE=xxx

OPENAI_API_BASE_URL=https://api.groq.com/openai/v1 # as an example for groq
OPENAI_API_BASE_URL_CATALOGUE=xxx

MODEL=
MODEL_CATALOGUE=

SECRET_KEY=xxx
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_SECONDS=86400 # preset is one day
DEPRECATION_DAYS_CATALOGUE=30
ADMIN_USERNAMES= # ..., just add your own username to have access to all endpoints
MIN_PASSWORD_LENGTH=4
